.submit-button {
  background-color: #ff4949;
  color: #ffffff;
  padding: 8px 19px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  margin-left: auto;
  display: flex;
  box-sizing: border-box;
}
input {
  border: none;
  border-bottom: 1px solid #ff4949;
  padding: 5px 10px;
  outline: none;
}
.order-title {
  display: block;
  font-size: 20px;
  color: #ff4949;
  margin: 10px;
}
.customer-information-wrapper {
  display: flex;
  justify-content: space-between;
}
