.sandwich-container {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #e8eaed;
  border-radius: 12px;
  box-shadow: 1px 2px #e8eaed;
  align-items: center;
}
.sandwich-container > div {
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
}
.sandwich-ingredients > ul {
  list-style-type: none;
}
.sandwich-ingredients > ul > li {
  margin-top: 3px;
}
.sandwich-name {
  font-size: 20px;
  font-weight: 500;
}
.order-button {
  border: none;
  background: transparent;
  font-size: 35px;
  color: #ff4949;
  cursor: pointer;
}
.order-button:focus {
  outline: transparent;
}
